## Assignment 16-Feb

In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases?

In [2]:
# database:- 
# database is a collection of information.
# A database is an organized collection of structured information, or data, typically stored electronically
# in a computer system. A database is usually controlled by a database management system (DBMS).

In [3]:
# MySQL is a relational database that is based on tabular design whereas NoSQL is non-relational in nature 
# with its document-based design.

In [4]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [5]:
# Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects.

# CREATE:-
# create command is use to creat the table in database.
# The basic syntax of the CREATE TABLE statement is as follows − CREATE TABLE table_name( column1 datatype,
# column2 datatype, column3 datatype, ..... columnN datatype, PRIMARY KEY( one or more columns ) );
# CREATE TABLE is the keyword telling the database system what you want to do.

# DROP:-
# The DROP statement destroys the objects like an existing database, table, index, or view.
# Syntax: DROP object object_name Examples: DROP TABLE table_name; table_name: Name of the table to be deleted.

# ALTER:-
# The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
# The ALTER TABLE statement is also used to add and drop various constraints on an existing table

# TRUNCATE:- 
# The SQL TRUNCATE TABLE command is used to delete complete data from an existing table.
# TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain.

In [6]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [1]:
# DML:-
# A DML (data manipulation language) refers to a computer programming language that allows us to 
# add (insert), delete (delete), and alter (update) data in a database. A DML is typically a
# sublanguage of a larger database language like SQL.

# INSERT:-
# we Use the INSERT command to enter data into a table. We may insert one row at a time, or select several 
# rows from an existing table and insert them all at once. VALUES ("2222", "Raju", "Singh");

# UPDATE:-
# Update command is a data manipulation command which is used to edit the records of a table.
# It may be used to update a single row based on a condition, all rows or set of rows based on the condition given by the user.
# syntax: UPDATE table_name SET column_name = value [, column_name = value]... [ WHERE condition ];

# DELETE:-
# DELETE is a DML(Data Manipulation Language) command and is used when we specify the row(tuple) that
# we want to remove or delete from the table or relation.

In [2]:
# Q4. What is DQL? Explain SELECT with an example.

In [3]:
# DQL:-
# DQL(Data Query Language) is a portion of a SQL statement that allows us to get and organise data from a database. 
# We can use the SELECT command to extract data from a database.

# A DQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria. 
# The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value';

In [4]:
# Q5. Explain Primary Key and Foreign Key.

In [5]:
# Primary key:-
# A primary key is used to ensure data in the specific column is unique. 
# A primary key is the column or columns that contain values that uniquely identify each row in a table.
# A database table must have a primary key for Optim to insert, update,restore, or delete data from a database table

# Foreign Key:-
# A foreign key is a column or group of columns in a relational database.
# A foreign key is a column or columns of data in one table that refers to the unique data values 
# often the primary key data , in another table. Foreign keys link together two or more tables in a relational database.

In [6]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "host",
    user = "username",
    password = "password"
)
print(mydb)

In [10]:
# Cursor() Method:-
# Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of 
# Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables.

# Execute() Method:-
# The EXEC command is used to execute a stored procedure.
# The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text.
# The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be
# returned if it is not a row-returning query.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

# 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

# 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

# 4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

# 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

# 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

# 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.